* {
  font-family: 'Verdana';
  color: darkcyan;
  padding: 5;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: repeating-linear-gradient(30deg, #e3e3e3 0px, #e3e3e3 10px, #ccc 1px, #ccc 11px); }

  ul{
  list-style-type: none;
}
 img {
  border-radius: 8px;
 }
/* -----------------     class     ----------------- */
.homepage {
  padding: 25px;
}
.button {
  background-color: rgb(139, 177, 177);
  border: none;
  color: white;
  padding: 12px 28px;
  margin:8px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border-radius: 12px;
}

.button:hover {
  background-color: lightgray;
  color: rgb(75, 97, 97);
}
.smallbutton {
  background-color: rgb(139, 177, 177);
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 25px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}

.smallbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.smallbutton:disabled {
  background-color: rgb(139, 177, 177);
  color: rgb(75, 97, 97);
}
.editButton {
  background-color:  rgb(147, 177, 139);
  border: none;
  padding: 8px 12px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}
.editButton-link {
  color: white;
}
.editButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deleteButton {
  background-color: rgb(156, 100, 93);
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}

.deleteButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.formCampus[type=text] {
  width: 80%;
  padding: 20px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid darkcyan;
}
.formCampus {
  position: relative;
  left: 30px;
}
  .navbar {
    width: calc(100%);
    left: 100px;
    border: none;
    border-radius: 0;
    border-bottom: 1px dotted grey;
    background:lightgray;
    padding-left: 10px;
    padding-right: 10px
  }

  .navbar ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    vertical-align: middle;
  }
    .navbar .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px; }

    .navbar .navbar-brand img {
      position: absolute;
      height: 75px;
      padding: 5px; }

      nav {

        font-size: 30px;
        width: calc(100%);
      }
      .nav-item a {
        display: flex;
        justify-content: flex-end;
        font-size: 1.3em;
        color: #fff;
        text-decoration: none;
        padding: 5px;
      }
      .nav-item a:hover {
        color: darkcyan;
        border-radius: 5px;
      }

      .studentList {
        padding: 15px;
      }
    .campus-list {
      border-radius: 4px;
      margin: 0; }

    .campus-list img {
      height: 250px;
    }
    .campus-button {
      display: flex;
      justify-content: flex-end;

    }
    .singleDetail{
      padding: 25px
    }
    .singleDetail .singleInfo {
      width: 50%;
      position: relative;
      left: 500px;
      top: -250px;
    }
    .singleCampus {
      padding: 25px;
      position: relative;
      top: -150px;
    }
    .relatedInfo {
      position: relative;
      top: -200px;
    }
    .large-font {
      font-size: 1.5em; }

    .list-inline {
      display:flex;
      justify-content: center;
      margin-bottom: 50px; }

    .list-inline img {
      height: 250px;
    }


    .studentDetail-campus img {
      padding: 5px;
      width: 250px;
    }
    .studentDetail-campus .information {
      font-size: 25px;
      position: relative;
      top: -170px;
      left: 250px;
    }
    .studentDetail-campus .campus {
      font-size: 20px;
      position: relative;
      top: -180px;
      left: 250px;
    }
    .singleStudent {
      height: 100%;
    }
    .singleStudent .wrap {
      display: flex;
      flex-wrap: wrap;
    }

    .singleStudent .student-profile {
      display: flex;
      flex-wrap: wrap;
    }
    .singleStudent .student-profile {
      width:40%;
      transition: background-color 0.3s;
    }
    .singleStudent .student_campus {
      position: relative;
      left: 85px;
      top: -40px;
    }
    .singleStudent .student-profile:hover {
      color: #fff;
      background-color:  lightgrey
    }
    .singleStudent .student-profile .headshot {
      height: 5em;
      width: 5em;
      margin-left: calc(50% - 2.5em);
    }
    .singleStudent .student-profile .student-name {
      text-align: center;
      font-size: 25px;
    }
    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #485f69;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
/* -----------------     ids     ----------------- */
    #header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #doggo {
      display:flex;
      flex-direction: column;
    }

    #notFound404 {
      text-align: center;
    }
